footer
  .container.text-center
    p.pull-left © 2016 Robot Lawyer, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/gingernaut/CourtHack2016') Code Source