extends layout

block content
	.col-sm-8
		h1 What's your current problem?
		button(class="btn btn-large btn-primary") Parking Ticket
		br
		button(class="btn btn-large btn-primary") Speeding Ticket
		br
		button(class="btn btn-large btn-primary") Eviction Notice
		br
		button(class="btn btn-large btn-primary") File Police Report
		br
		button(class="btn btn-large btn-primary") Restraining Order
		br
		button(class="btn btn-large btn-primary") Divorce