extends layout

block content
	.col-sm-8
		h1 What's your current problem?
		a(class="btn btn-large btn-primary" href="/chat/") Parking Ticket
		br
		a(class="btn btn-large btn-primary" href="/chat/") Speeding Ticket
		br
		a(class="btn btn-large btn-primary" href="/chat/") Eviction Notice
		br
		a(class="btn btn-large btn-primary" href="/chat/") File Police Report
		br
		a(class="btn btn-large btn-primary" href="/chat/") Restraining Order
		br
		a(class="btn btn-large btn-primary" href="/chat/") Divorce