extends layout

block content
  h1 Robot Lawyer
  p.lead Easily fill out legal documents, create appeals, and start your legal precedings
  hr
  .row
    .col-sm-6
      h2 Heading
      p
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p
      p
        a.btn.btn-default(href='#', role='button') View details »